@import url(./styles/add-task.css);
@import url(./styles/board.css);
@import url(./styles/contacts.css);
@import url(./styles/fonts.css);
@import url(./styles/help-privacy-and-legal.css);
@import url(./styles/login.css);
@import url(./styles/summary.css);
@import url(./styles/Side-Navigation.css);

:root {
  --primary-color-darkblue: #2a3647;
  --secondary-color-darkblue: #091931;
  --text-grey: #a8a8a8;
  --prio-urgent: #ff3d00;
  --prio-medium: #ffa800;
  --prio-low: #7ae229;
  --user-story-color: #0038ff;
  --technical-task-color: #1fd7c1;
}

.activated {
  background-color: #091931;
}

.activated a {
  color: white;
}

.d_none {
  display: none;
}

#landscape-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100vh;
  z-index: 1000;
}

body.landscape #landscape-warning {
  display: block;
}

body.landscape {
  overflow: hidden;
}
