@import url(./styles/add-task.css);
@import url(./styles/board.css);
@import url(./styles/contacts.css);
@import url(./styles/fonts.css);
@import url(./styles/help.css);
@import url(./styles/login.css);
@import url(./styles/summary.css);

:root {
    --primary-color-darkblue: #2A3647;
    --secondary-color-darkblue: #091931;
    --text-grey: #a8a8a8;
    --prio-urgent: #FF3D00;
    --prio-medium: #FFA800;
    --prio-low: #7AE229;
    --user-story-color: #0038FF;
    --technical-task-color: #1FD7C1;
}

.activated {
    background-color: #091931;
}

.activated a {
    color: white;
}

.d_none{
    display: none;
}
