@import url(./styles/add-task.css);
@import url(./styles/board.css);
@import url(./styles/contacts.css);
@import url(./styles/fonts.css);
@import url(./styles/help.css);
@import url(./styles/login.css);
@import url(./styles/summary.css);

:root {
    --primary-color-darkblue: #2A3647;
    --secondary-color-darkblue: #091931;
    --text-grey: #a8a8a8;
}