* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
}

.side-nav {
    width: 240px;
    background-color: #2e3b4e;
    /* Dunkles Blau */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.side-nav .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.side-nav nav ul {
    list-style: none;
}

.side-nav nav ul li {
    margin: 10px 0;
}

.side-nav nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s;
}

.side-nav .footer {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.side-nav .footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    opacity: 0.8;
}

.side-nav .footer a:hover {
    opacity: 1;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.top-bar {
    height: 60px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-bar h1 {
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

.top-bar .user-info {
    display: flex;
    align-items: center;
}

.top-bar .user-info span {
    margin-left: 10px;
    color: #007bff;
}

.top-bar .user-info span:first-child {
    background-color: #2e3b4e;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 50%;
}

main {
    padding: 20px;
    flex: 1;
}

main h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

main p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.nav-list-item {
    display: flex;
    align-items: center;
}

.nav-list-item a {
    color: var(--text-grey) !important;
}