.orientation-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.warning-container {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orientation-warning p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 16px;
}

.tilt-device-icon {
  text-align: center;
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .orientation-warning {
    display: block;
  }
}

@media (max-width: 1920px) and (min-width: 1251px) {
  .custom-select-wrapper::after {
    right: 48px;
  }

  .subtasks-input {
    width: 100%;
  }

  .custom-select-wrapper::after {
    right: 0px;
  }
}

@media (max-width: 1250px) and (min-width: 1000px) {
  .prio-btn {
    width: 100px;
    height: 48px;
  }
  .add_task_clear_button button {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }

  .create-btn {
    width: 180px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 999px) and (min-width: 831px) {
  .add_task_title {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .add_task_main_content {
    width: 78%;
  }

  .form-wrapper {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
  }

  .separator {
    display: none;
  }

  .form-column-right {
    margin-left: 0px;
  }

  .form-group {
    padding: 0px;
  }

  .assigned_to_container {
    padding: 0px;
  }

  .form-buttons {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .required-hint {
    margin-right: 0px;
  }

  .btn-wrapper {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .add_task_clear_button button {
    font-size: 12px;
    width: 100px;
    height: 30px;
  }

  .create-btn {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }

  .add_task_overly_img_task_name_container {
    font-size: 12px;
  }
}

@media (max-width: 830px) and (min-width: 500px) {
  .add_task_title {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .add_task_main_content {
    width: 78%;
  }

  .form-wrapper {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
  }

  .separator {
    display: none;
  }

  .form-column-right {
    margin-left: 0px;
  }

  .form-group {
    padding: 0px;
  }

  .assigned_to_container {
    padding: 0px;
  }

  .form-buttons {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .required-hint {
    margin-right: 0px;
  }

  .btn-wrapper {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .add_task_clear_button button {
    font-size: 12px;
    width: 100px;
    height: 30px;
  }

  .create-btn {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }

  .add_task_overly_img_task_name_container {
    font-size: 12px;
  }
}

@media (max-width: 499px) and (min-width: 320px) {
  .add_task_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .add_task_title {
    font-size: 21px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
  }

  .add_task_main_content {
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .form-wrapper {
    flex-direction: column;
    height: auto;
    align-items: baseline;
  }

  .form-column-left {
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .form-column-right {
    margin-left: 0px;
    margin-bottom: 50px;
  }

  .separator {
    display: none;
  }

  .form-buttons {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 70px;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .required-hint {
    margin: 0px;
  }

  .btn-wrapper {
    margin-right: 0px;
    gap: 12px;
  }

  .add_task_clear_button button {
    font-size: 12px;
    width: 100px;
    height: 30px;
  }

  .create-btn {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }

  .prio-btn {
    font-size: 12px;
    width: 100px;
  }

  .prio-options {
    align-items: center;
  }

  .add_task_overly_img_task_name_container {
    font-size: 10px;
  }

  .add_task_overlay_button :nth-child(1) {
    font-size: 12px;
  }

  .add_task_overlay_button :nth-child(2) {
    font-size: 12px;
  }

  .add_task_overlay_button :nth-child(3) {
    font-size: 12px;
  }
}
