.add_task_body {
  display: flex;
  max-width: 1388px;
  width: 100%;
}

.add_task_main_content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 50px;
  margin-right: 50px;
}

.form-wrapper {
  justify-self: flex-start;
  height: 50dvh;
  display: flex;
  justify-content: space-between;
}

.add-task-form {
  display: flex;
  align-items: stretch;
  min-height: 424px;
  margin: 40px 0px;
  height: 50dvh;
}

.form-column-left {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  margin-right: 30px;
}

.form-column-right {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 25px;
  width: 100%;
}

.separator {
  width: 1px;
  background-color: #d1d1d1;
  align-self: stretch;
  height: 65%;
  display: flex;
}

.d_none {
  display: none;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea,
select {
  font-family: Inter-18;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-left: 10px;
}

input,
textarea,
select {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 102px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

.prio-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.prio-options {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

.add_task_title {
  margin-top: 50px;
  margin-left: 75px;
  font-size: 36px;
}

.prio-btn {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background-color: white;
  padding: 16px 10px 16px 10px;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.prio-btn:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.urgent {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background-color: #ff3d00;
  color: white;
  padding: 16px 10px 16px 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.urgent:hover {
  box-shadow: none;
}

.urgent-icon path {
  fill: white;
}

.medium {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background-color: #ffa800;
  color: white;
  padding: 16px 10px 16px 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.medium:hover {
  box-shadow: none;
}

.medium-icon path {
  fill: white;
}

.low {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background-color: #7ae229;
  color: white;
  padding: 16px 10px 16px 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.low:hover {
  box-shadow: none;
}

.low-icon path {
  fill: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.add_task_for_error_height {
  height: 80px;
}

form {
  font-family: Inter-18;
}

select.focus {
  border-color: #29abe2;
}

.form-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-content: flex-end;
  width: 100%;
}

.subtasks-input {
  position: relative;
  width: 100%;
}

.subtasks-input .icons {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  visibility: hidden;
}

.subtasks-input .icons .clear-icon,
.subtasks-input .icons .check-icon {
  cursor: pointer;
  font-size: 16px;
}

.subtasks-input .icons .divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin-left: 8px;
  margin-right: 8px;
}

.subtasks-list {
  margin-top: 1px;
  width: 95%;
  margin-left: 10px;
  height: 230px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Webkit-Browser (Chrome, Safari) */
.subtasks-list::-webkit-scrollbar {
  display: flex; /* Scrollleiste verstecken */
}

.subtasks-list .subtask {
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.subtasks-list .subtask:hover {
  background-color: #f0f0f0;
}

.subtasks-list .actions {
  display: flex;
  align-items: center;
  visibility: hidden;
}

.subtasks-list .actions .edit-icon,
.subtasks-list .actions .delete-icon {
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.subtasks-list .actions .divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin-left: 10px;
}

.edit-icon {
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.subtask-item {
  width: 95%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 3px 10px;
  height: 24px;
  border-radius: 10px;
}

.subtask-item:hover {
  background-color: #f0f0f0;
}

.subtask-item:hover .subtask-actions {
  display: flex;
  gap: 1px;
}

.subtask-content-wrapper {
  display: flex;
  align-items: center;
  margin-left: 11px;
  width: 100%;
}

.bullet-point {
  margin-right: 8px;
}

.subtask-content {
  font-size: 14px;
}

.subtask-actions {
  display: flex;
  gap: 1px;
  visibility: visible;
  align-items: center;
}

.edit-icon {
  font-size: 16px;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
  height: 20px;
}

.delete-icon {
  height: 20px !important;
  width: 20px !important;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-icon:hover,
.delete-icon:hover {
  color: #ff0000;
}

button[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.6;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #ccc;
}

input.subtask-input {
  padding: 8px !important;
  font-size: 14px !important;
  border-bottom: 1px solid #005dff !important;
  margin-right: 8px !important;
  border-radius: 0px !important;
  width: 100% !important;
}

input.subtask-input:active {
  padding: 4px !important;
  font-size: 14px !important;
  border-bottom: 1px solid #005dff !important;
  margin-right: 8px !important;
  border-radius: 0px !important;
  width: 100% !important;
}

input.subtask-input:focus {
  padding: 4px !important;
  font-size: 14px !important;
  border-bottom: 1px solid #005dff !important;
  margin-right: 8px !important;
  border-radius: 0px !important;
  width: 100% !important;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container .subtask-input {
  width: 100%;
  padding-right: 60px;
  font-size: 16px;
  border-bottom: 1px solid #005dff;
  border-radius: 0px;
  margin-right: 0;
}

.input-container .delete-icon,
.input-container .save-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 16px;
  height: 16px;
  opacity: 0.8;
  border-radius: 10px;
}

.input-container .delete-icon {
  right: 40px;
}

.input-container .save-icon {
  right: 10px;
}

.input-container .delete-icon:hover,
.input-container .save-icon:hover {
  opacity: 1;
}

.subtask-item.editing .subtask-actions {
  visibility: hidden;
}

.save-icon,
.delete-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.save-icon:hover,
.delete-icon:hover {
  opacity: 0.8;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #ccc;
  margin: 0 8px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 50px;
}

.clear-btn {
  width: 110px;
  height: 56px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  padding: 16px;
  font-family: Inter-18;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
  background-color: white;
}

.create-btn {
  width: 183px;
  height: 56px;
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: #2a3647;
  color: white;
  font-family: Inter-18;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.create-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.create-btn:hover:enabled {
  background-color: #29abe2;
  box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.3);
}

.required-icon {
  color: red;
}

.required-hint {
  font-size: 13px;
  justify-self: flex-start;
  margin-right: 110px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 37px;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  font-size: 14px;
  background-image: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.custom-select.option value {
  width: 100%;
}

.custom-select-wrapper::after {
  content: url(../assets/icons/arrow_drop_downaa.svg);
  position: absolute;
  right: -2%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: #333;
}

.custom-select:focus {
  border-color: #29abe2;
}

.add_task_error {
  color: red;
  margin-left: 30px;
}

.custom-option-hover {
  background-color: #f0f0f0;
}

.assigned_to_container {
  position: relative;
}

.add_task_dropdown input {
  display: flex;
  padding: 0px;
  border: none;
  background-color: white;
  box-shadow: none;
  font-family: inter-18;
  font-size: 14px;
  cursor: text;
  padding-left: 1px;
}

.add_task_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-left: 10px;
  width: 100%;
}

.add_task_dropdown_active {
  border-color: #29abe2;
}

.add_task_dropdown p {
  font-family: Inter-18;
  font-size: 14px;
  color: var(--text-grey);
  border-radius: 10px;
  margin-left: 10px;
}

.add_task_dropdown img {
  width: 8px;
  height: 6px;
  transition: transform 0.3s ease;
}

.custom_dropdown {
  display: flex;
  flex-direction: column;
  width: 99%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1;
  max-height: 0;
  margin-left: 13px;
  box-sizing: border-box;
  transition: max-height 0.2s ease-out;
}

.custom_dropdown.open {
  max-height: 200px;
}

.add_task_search_error {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #666;
  font-family: inter-18;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  gap: 50px;
}

.add_task_search_error small {
  margin-bottom: 13px;
}

.custom_dropdown::-webkit-scrollbar {
  width: 9px;
}

.custom_dropdown::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.custom_dropdown::-webkit-scrollbar-thumb {
  background-color: #29abe2;
  height: 40px;
  border-radius: 15px;
}

.custom_dropdown::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url("../assets/img/arrow_up.png") no-repeat center;
  background-size: 5px 5px;
  height: 28px;
  width: 16px;
}

.custom_dropdown::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url("../assets/img/arrow_drop_down.png") no-repeat center;
  background-size: 5px 5px;
  height: 28px;
  width: 16px;
}

.user_template_label {
  margin: 0;
}

.user_template_label img {
  cursor: pointer;
}

.user_template_circle_name {
  display: flex;
  align-items: center;
}

.user_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}

.user_template_not_selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: none;
  color: black;
  border: none;
}

.user_template_not_selected:hover {
  background-color: #eeeeee;
  color: black;
}

.user_template_not_selected img {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.user_template_selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #2a3647;
  color: white;
}

.user_template_selected:hover {
  background-color: #091931;
  color: white;
}

.user_template_circle_name {
  display: flex;
  align-items: center;
  width: 100;
}

.user_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}

.user_template_circle_name p {
  margin: 0;
  font-size: 13px;
}

.user_checkbox {
  display: none;
}

.selected_user_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-right: -10px;
  text-transform: uppercase;
}

.selected_users {
  display: flex;
  margin-top: 18px;
  margin-left: 8px;
}

input[type="text"].disabled {
  opacity: 0.5;
  pointer-events: none;
  border-radius: 10px;
}

input[type="text"]:focus {
  border-color: #29abe2;
  outline: none;
  border-radius: 10px;
}

input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
  transition: filter 0.3s ease;
  border-radius: 10px;
}

input[type="text"]:focus::placeholder {
  filter: blur(1px);
}

.form-group input:focus {
  border-color: #29abe2;
  outline: none;
}

.addTaskDescription:focus {
  border-color: #29abe2;
  outline: none;
}

.medium:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.add-subtask-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding-right: 14px;
  border: none;
  right: -3%;
  cursor: pointer;
}

.add_task_overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.3);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(8px);
}

.add_task_overlay_task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 50px;
}

.add_task_overlay_logo img {
  width: 50%;
}

.add_task_overlay_logo {
  display: flex;
  margin-bottom: 20px;
  animation: slide-in-right 0.3s forwards;
}

.add_task_overly_img_task_name_container {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  justify-content: center;
  width: 100%;
  animation: slide-in-left 0.4s forwards;
  color: #000000;
}

.add_task_overlay_button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

.add_task_overlay_button {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add_task_overlay_button :nth-child(1) {
  border: solid 1px #2a3647;
  color: #2a3647;
  font-weight: bold;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: white;
  font-size: 16px;
  animation: slide-in-right 0.75s forwards;
}

.add_task_overlay_button :nth-child(2) {
  border: solid 1px #2a3647;
  color: #2a3647;
  font-weight: bold;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: white;
  font-size: 16px;
  animation: slide-in-left 0.75s forwards;
}

.add_task_overlay_button :nth-child(3) {
  background-color: #2a3647;
  color: white;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 16px;
  animation: slide-in-right 0.75s forwards;
}

.add_task_overlay_button :nth-child(1):hover {
  border: solid 1px #29abe2;
  box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.3);
  color: #29abe2;
}

.add_task_overlay_button :nth-child(2):hover {
  border: solid 1px #29abe2;
  box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.3);
  color: #29abe2;
}

.add_task_overlay_button :nth-child(3):hover {
  background-color: #29abe2;
  box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.3);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-900%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(900%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.add_task_clear_button button {
  width: 110px;
  height: 56px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  padding: 16px;
  font-family: Inter-18;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
  background-color: white;
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add_task_clear_button button:hover {
  border: solid 1px #29abe2;
  box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.3);
  color: #29abe2;
  font-weight: bolder;
}

.add_task_clear_button_image_hover {
  height: 27px;
}

.add_task_clear_button .add_task_clear_button_image_hover {
  display: none;
}

.add_task_clear_button button:hover .add_task_clear_button_image {
  display: none;
}

.add_task_clear_button button:hover .add_task_clear_button_image_hover {
  display: block;
}

.addTaskErrorBorder {
  border-color: red !important;
}
