* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.logo-white {
    margin-top: 64px;
}

.side-nav {
    background-color: var(--primary-color-darkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 232px;
}

.nav-item:hover {
    color: white;
    cursor: pointer;
}

.active-element {
    background-color: var(--secondary-color-darkblue);
}

.service-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 64px;
}

.service-item {
    font-family: Inter-18;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-grey);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    width: calc(100% - 232px);
    height: 96px;
    display: flex;
    justify-content: flex-end;
}

.user-icon {
    border: 2px solid orange;
    border-radius: 50%;
}