/* Keyframes für die Rückfahr-Animationen */
@keyframes logoFlyOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-900%);
        opacity: 0;
    }
}

@keyframes textFlyOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(900%);
    }
}

/* Klassen für die Rückfahr-Animationen */
.logo_fly_out {
    animation: logoFlyOut 1s ease forwards;
}

.text_fly_out {
    animation: textFlyOut 1s ease forwards;
}

/* Andere notwendige Animationen und Klassen */
@keyframes logoFlyIn {
    0% {
        transform: translateX(-900%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes textFlyIn {
    0% {
        opacity: 0;
        transform: translateX(900%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate_logo_container {
    animation: logoFlyIn 0.8s ease forwards;
}

.text_fly_in {
    animation: textFlyIn 0.8s ease forwards;
}

/* Styling für den Text und die Buttons */
.remember_me_text {
    opacity: 1;
    margin-left: 2px;
}

.remember_me_text p {
    margin: 20px 0;
    font-size: 18px;
    color: #000000;
}

.remember_me_button {
    border: solid 1px #2A3647;
    background-color: #2A3647;
    font-weight: bold;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: white;
    width: 100px;
}

.remember_me_button:hover {
    background-color: #29abe2;
    box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.3);
}
