.privacy_and_legal_privacy_plolicy_text_container p {
  margin: 10px 0;
}
.privacy_and_legal_privacy_plolicy_text_container ul {
  margin: 10px 0 10px 20px;
}
.privacy_and_legal_privacy_plolicy_text_container li {
  margin-bottom: 5px;
}
.pp_contact_details {
  font-weight: bold;
  color: #29abe2;
}
.pp_highlight {
  color: #29abe2;
}

.privacy_and_legal_privacy_plolicy_text_container {
  color: #555;
  margin-left: 20px;
}

.privacy_and_legal_privacy_plolicy_text_container h1 {
  font-size: 32px;
  color: #091931;
  margin-top: 30px;
}

.terms_container {
  max-height: 83vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background: #f6f7f8;
  margin: 10px;
  scrollbar-width: thin;
  scrollbar-color: #29abe2 #f6f7f8;
  word-wrap: break-word;
}

.pp_side_navigation {
  height: 100vh;
  width: 232px;
  background-color: #2a3647;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.pp_logo_icon {
  width: 100px;
  height: 120px;
  color: white;
  margin-top: 64px;
}
.pp_menu {
  width: 232px;
  height: 229px;
  gap: 15px;
  flex-direction: column;
  padding: 8px 0px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pp_menu_sections {
  height: 46px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0px 56px;
}

.pp_menu a {
  text-decoration: none;
  color: #cdcdcd;
  font-size: 16px;
}

.pp_body {
  height: 100vh;
}

.pp_terms_container {
  padding-top: 243px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 64px;
  width: 100%;
}

.pp_terms_container a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: normal;
  width: 232px;
}

.pp_terms_container a:hover {
  font-weight: bold;
  color: #29abe2;
}

.pp_close_tab {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: flex-end;
  margin-top: 30px;
}

.pp_close_tab img {
  margin-right: 150px;
  cursor: pointer;
}

.pp_back_to_sign_in {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.pp_back_to_sign_in img {
  margin-right: 50px;
  cursor: pointer;
  height: 25px;
  align-items: center;
  display: flex;
}

@media (max-width: 768px) and (min-width: 320px) {
  .terms_container {
    max-height: 66vh;
    padding-right: 15px;
    padding-left: 0px;
  }

  .privacy_and_legal_privacy_plolicy_text_container li {
    font-size: 12px;
  }

  .privacy_and_legal_privacy_plolicy_text_container p {
    margin: 10px 0;
    font-size: 12px;
  }

  .pp_close_tab img {
    margin-right: 42px;
    height: 25px;
    margin-bottom: 0;
  }

  .help_headline h1 {
    margin-top: 0px;
  }
}

@media (min-height: 600px) {
  .terms_container {
    max-height: 68vh;
  }
  .help_logo_icon {
    width: 58px;
    height: 119px;
    color: white;
    margin-bottom: 20px;
  }
}

.orientation-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.warning-container {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orientation-warning p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 16px;
}

.tilt-device-icon {
  text-align: center;
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .orientation-warning {
    display: block;
  }
}
