.login_body {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    top: 0;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
    font-family: "Inter", serif;
    flex-direction: column;
}

.login_d_none{
    display: none;
}

.login_header {
    height: 100px;
    position: relative;
    margin-top: 80px;
    margin-left: 77px;
    margin-right: 77px;
}

.login_head{
    display: flex;
    justify-content: space-between;
    height: 170px;
}

.login_move_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.login_logo img {
    transition: all 1s ease;
    width: 274px;
    height: 334.07px;
    position: absolute; 
}

.login_moved {
    animation: moveAndResize 0.8s forwards;
}

@keyframes moveAndResize {
    0% {
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 274px;
        height: 334.07px;
    }
    100% {
        top: 80px; 
        left: 77px; 
        transform: translate(0, 0); 
        width: 137.03px;
        height: 167.035px;
    }
}

.login_logo_placeholder {
    display: flex;
    top: 67px;
}

.login_buttons_styles {
    background-color: #2a3647;
    color: white;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login_buttons_styles:hover{
    background-color: #29abe2;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login_header_img img {
    display: flex;
    width: 137.03px;
    height: 167.035px;
}

.login_header_nav{
    display: flex;
    gap: 35px;
    height: 49px;
    width: 279px;
    justify-content: center;
    align-items: center;
}

.login_header_nav a{
    text-decoration: none;
    color: black;
}

.login_main_container{

}

.login_variants{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70dvh;
    width: 100%;
}

/* Log in Card */

.login_card{
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-right: 115px;
    padding-bottom: 48px;
    padding-left: 115px;
    border: solid 1px #D1D1D1;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    height: 400px;
    width: 442px;
    margin-left: 18px;
    margin-right: 18px;
    align-items: center;
    font-family: "Inter", serif;
    justify-content: space-around;
}

.scale_up_center {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
.login_card_headline{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}

.login_card_headline h1{
     font-size: 52px;
     margin-bottom: 12px;
     font-weight: bold;
}

.login_underline{
     height: 3px;
     background-color: #29abe2;
     width: 20%;
}

  .login_input_field {
     margin-top: 20px;
     position: relative;
     display: flex;
     align-items: center;
}

.login_input_field input {
     width: 442px;
     border: solid 1px  #D1D1D1;
     border-radius: 10px;
     padding-top: 6px;
     padding-bottom: 6px;
     padding-left: 21px;
     padding-right: 21px;
     font-size: 24px;
     transition: border-color 0.3s ;
     cursor: text;
}

.login_input_field img {
     position: absolute;
     height: 24px;
     right: 10px;
     top: 50%; 
     transform: translateY(-50%);
}

.login_input_field input::placeholder { 
    font-size: 24px;
    color:  #D1D1D1;
}

.login_input_field input:focus{
    border-color: #29abe2;
    outline: none;
    border: solid 2px  #29abe2;
}

.login_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    gap: 32px;
}

.login_buttons_styles_clear {
    border: solid 1px #2A3647;
    color: #2A3647;
    font-weight: bold;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login_buttons_styles_clear:hover{
    border: solid 1px #29abe2;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login_input_error{
    border-color: #e40000 !important;
}

.login_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login_footer a{
    text-decoration: none;
    color: #ababab;
    font-weight: lighter;
}

.login_footer a:hover{
    color: #29abe2;
    font-weight: bold;
}