
.privacy_and_legal_privacy_plolicy_text_container p {
    margin: 10px 0;
}
.privacy_and_legal_privacy_plolicy_text_container ul {
    margin: 10px 0 10px 20px;
}
.privacy_and_legal_privacy_plolicy_text_container li {
    margin-bottom: 5px;
}
.pp_contact_details {
    font-weight: bold;
    color: #29abe2; 
}
.pp_highlight {
    color: #29abe2;
}

.privacy_and_legal_privacy_plolicy_text_container{
    color: #555;
    margin-left: 20px;
}

.privacy_and_legal_privacy_plolicy_text_container h1{
    font-size: 32px;
    color:  #091931;
    margin-top: 30px;
}

.terms_container {
    max-height: 83vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background: #F6F7F8;
    margin: 10px;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: #29abe2 #F6F7F8;
    word-wrap: break-word;
}

.pp_side_navigation {
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.pp_logo_icon {
    width: 100px;
    height: 120px;
    color: white;
    margin-top: 64px;
}
.pp_menu{
    width: 232px;
    height: 229px;
    gap: 15px;
    flex-direction: column;
    padding: 8px 0px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pp_menu_sections {
    height: 46px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 56px;
}

.pp_menu a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
}

.pp_body{
    height: 100vh;
}

.pp_terms_container {
    padding-top: 243px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 64px;
    width: 100%;
}

.pp_terms_container a {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: normal;
    width: 232px;
}

.pp_terms_container a:hover{
    font-weight: bold;
    color: #29abe2; 
}