body {
    font-family: 'Inter';
}

.side-navigation {
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 64px 0px;
    align-items: center;
}

.logo-icon {
    width: 100px;
    height: 120px;
    color: white;
}

.menu {
    width: 232px;
    height: 229px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
}

.menu-icons {
    width: 25px;
    height: 25px;
}

.menu-sections {
    width: 100%;
    height: 46px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 56px;
}

.menu-sections:hover {
    background-color: #091931;
    ;
}

.Privacy-section {
    padding-top: 243px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Privacy-section a {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
    padding: 8px;
}

.summary {
    width: 100vw;
    background-color: #F6F7F8;
}

header {
    height: 96px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    background-color: #ffffff;

}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 348px;
    align-items: center;
    max-width: 1440px;
    height: 96px;
}

header p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.user {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #29ABE2;
    cursor: pointer;
}

.help-user {
    display: flex;
    gap: 16px;
}

.headline {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 206px;
    left: 328px;
}

.headline h1 {
    font-size: 61px;
    font-weight: 700;
}

.headline h3 {
    font-size: 27px;
    font-weight: 400;
}

.line {
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
}

.Tasks {
    width: 560px;
    height: 562px;
    position: absolute;
    top: 335px;
    left: 328px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.Todo-Done {
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-between;
}

.Urgency {
    width: 560px;
    height: 168px;
    padding: 28px 48px;
    display: flex;
    gap: 61px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.viewOfTasks {
    width: 560px;
    height: 170px;
    display: flex;
    gap: 28px;
}

.To-do {
    width: 264px;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 38px 19px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.To-do h2 {
    font-size: 64px;
    font-weight: 600;
}

.To-do p {
    font-size: 20px;
    font-weight: 400;
}

.urgent-number {
    display: flex;
    align-items: center;
    gap: 18px;
}

.urgent-number img {
    width: 60px;
    height: 60px;
}

.urgent-number h2 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: black;
}

.Urgent-line {
    width: 2px;
    background-color: #D1D1D1;
    height: 102px;
}

.Deadline {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.Deadline h3 {
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
}

.Deadline p {
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
}

.Task {
    width: 168px;
    height: 168px;
    border-radius: 30px;
    padding: 25px 42.5px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    justify-content: center;
    align-items: center;
}

.Task h2 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.Task p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #2A3647;
}

.greeting {
    position: absolute;
    top: 547.5px;
    left: 968px;
    width: 385px;
    height: 136px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.greeting h2 {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.greeting h1 {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.Submenu {
    position: relative;
    right: 0;
    top: 31px;
    border-radius: 20px 0px 20px 20px;
    width: 150px;
    height: 158px;
    background-color: #2A3647;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Submenu-buttons {
    width: 130px;
    height: 46px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
}