.side-navigation {
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 64px 0px;
    align-items: center;
}

.logo-icon {
    width: 100px;
    height: 120px;
    color: white;
}

.menu {
    width: 232px;
    height: 229px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
}

.menu-icons {
    width: 25px;
    height: 25px;
}

.menu-sections {
    width: 100%;
    height: 46px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 56px;
}

.menu-sections:hover {
    background-color: #091931;
    ;
}

.Privacy-section {
    padding-top: 243px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Privacy-section a {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
    padding: 8px;
}

.summary {
    max-width: 1440px;
    width: 1440px;
 
}

header {
    height: 96px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 348px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    align-items: center;
}

header p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.user {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #29ABE2;
    cursor: pointer;
}

.help-user {
    display: flex;
    gap: 16px;

}