@import url(./fonts.css);

.activated {
    background-color: #091931;
}

.activated a {
    color: white;
}

body {
    font-family: 'Inter-18';
    display: flex;
}

.side-navigation {
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 64px 0px;
    align-items: center;
}

.logo-icon {
    width: 100px;
    height: 120px;
    color: white;
}

.menu {
    width: 232px;
    height: 229px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
}

.menu-icons {
    width: 25px;
    height: 25px;
}

.menu-sections {
    width: 100%;
    height: 46px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 56px;
}

.menu-sections:hover {
    background-color: #091931;
    ;
}

.Privacy-section {
    padding-top: 243px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Privacy-section a {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
    padding: 8px;
}

.website-body {
    width: 100vw;
    background-color: #F6F7F8;
}

header {
    height: 96px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    background-color: #ffffff;

}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 348px;
    align-items: center;
    max-width: 1440px;
    height: 96px;
    box-sizing: border-box;
}

header p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.user {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #29ABE2;
    cursor: pointer;
}

.help-user {
    display: flex;
    gap: 16px;
    align-items: center;
}

.headline {
    display: flex;
    align-items: center;
    gap: 30px;
}

.headline h1 {
    font-size: 61px;
    font-weight: 700;
}

.headline h3 {
    font-size: 27px;
    font-weight: 400;
}

.line {
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
}

.Tasks {
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    gap: 28px;

}

.Todo-Done {
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-between;
}

.Urgency {
    width: 560px;
    height: 168px;
    padding: 28px 48px;
    display: flex;
    gap: 61px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.Submenu a{
    width: 130px;
    height: 46px;
}

.viewOfTasks {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
}

.To-do {
    width: 264px;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 38px 19px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.To-do h2 {
    font-size: 64px;
    font-weight: 600;
}

.To-do p {
    font-size: 20px;
    font-weight: 400;
}

.urgent-number {
    display: flex;
    align-items: center;
    gap: 18px;
}

.urgent-number img {
    width: 60px;
    height: 60px;
}

.urgent-number h2 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: black;
}

.Urgent-line {
    width: 2px;
    background-color: #D1D1D1;
    height: 102px;
}

.Deadline {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.Deadline h3 {
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
}

.Deadline p {
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
}

.Task {
    width: 168px;
    height: 168px;
    border-radius: 30px;
    padding: 20px 42.5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Task h2 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.Task p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #2A3647;
}

.greeting {
    width: 385px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.greeting h2 {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.greeting h1 {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.help-user img {
    width: 32px;
    height: 32px;
}

.help-user img:hover {
    width: 36px;
    height: 36px;
}

.Submenu {
    position: relative;
    right: 30px;
    top: 20px;
    border-radius: 20px 0px 20px 20px;
    width: 150px;
    height: 158px;
    background-color: #2A3647;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Submenu-buttons {
    width: 130px;
    height: 46px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    width: 158px;
    height: 56px;
}

.user:hover {
    background-color: #0C2E621F;
}

.Urgency:hover {
    background-color: #2A3647;
    width: 576px;
    height: 184px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: ease-in-out 100ms;
    cursor: pointer;

    .urgent-number div {
        color: white;
    }

    .urgent-number h2 {
        color: white;
    }

    .Deadline h3 {
        color: white;
    }

    .Deadline p {
        color: white;
    }
}

.image1 {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/pencil_blue.png);

}

.image2 {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/done_blue.png);
}

.To-do:hover {
    width: 282.5px;
    height: 184px;
    background-color: #2A3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: ease-in-out 100ms;
    cursor: pointer;

    .image1 {
        background-image: url(../assets/img/pencil_white.png);
    }

    .image2 {
        background-image: url(../assets/img/done_white.png);
    }

    .To-do_text h2 {
        color: white;
    }

    .To-do_text p {
        color: white;
    }
}

.d-none1 {
    display: none;
}

.Task:hover {
    width: 184px;
    height: 184px;
    background-color: #2A3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: ease-in-out 100ms;
    cursor: pointer;

    .Task_h2 {
        color: white;
    }

    .Task_p {
        color: white;
    }
}

.Summary-body {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 75px 0px 0px 75px;
    gap: 30px;
}

.greeting-position {
    position: absolute;
    top: 547.5px;
    left: 968px;
}

.header-Join-Logo {
    width: 32px;
    height: 39px;
    display: none;
}

@media (max-width: 1400px) {
    .d-none {
        display: none;
    }

    .greeting-position {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
    }
}


@media (max-width: 1200px) {
    .help-user img {
        display: none;
    }

    .Submenu {
        height: 204px;
        right: 86px;
    }

    .d-none1 {
        display: flex;
    }

    .header-content {
        padding-left: 148px;
    }

    .d-flex-column {
        width: 56px;
    }
}

.line2 {
    height: 3px;
    width: 90px;
    background-color: #29ABE2;
    display: none;
}

@media (max-width: 1000px) {
    .line {
        display: none;
    }

    .line2 {
        display: flex;
    }

    .headline {
        flex-direction: column;
        gap: 16px;
        top: 128px;
        align-items: start;
    }

    .Summary-body {
        padding: 50px 0px 0px 20px;
    }
}

@media (max-width: 900px) {
    .Tasks {
        left: 260px;
    }

    .headline {
        left: 260px;
    }
}

@media (max-width: 830px) {
    body {
        display: flex;
        flex-direction: column-reverse;
    }

    .greeting-position {
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .side-navigation {
        height: 80px;
        width: 100%;
        padding: 0px;
    }

    .summary {
        height: 92vh;
    }

    .logo-icon {
        display: none;
    }

    .Privacy-section {
        display: none;
    }

    .menu {
        flex-direction: row;
        width: 100%;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
        box-sizing: border-box;
    }

    .menu-sections {
        flex-direction: column;
        width: 80px;
        height: 76px;
        border-radius: 16px;
        gap: 10px;
        justify-content: center;
        padding: 0px;
    }

    header {
        height: 80px;
    }

    .header-content {
        height: 80px;
        padding: 0px 20px;
    }

    .header-Join-Logo {
        display: flex;
    }

    .header-content p {
        display: none;
    }

    .headline {
        left: 100px;
    }

    .Tasks {
        left: 100px;
    }

    .headline h1 {
        font-size: 47px;
    }

    .headline h3 {
        font-size: 20px;
    }

    .Todo-Done {
        width: 396px;
        height: 110px;
    }

    .To-do {
        width: 186px;
        height: 110px;
        gap: 10px;
    }

    .image1 {
        width: 40px;
        height: 40px;
    }

    .image2 {
        width: 40px;
        height: 40px;
    }

    .To-do h2 {
        font-size: 47px;
    }

    .To-do p {
        font-size: 14px;
    }

    .Urgency {
        width: 396px;
        height: 110px;
        gap: 20px;
    }

    .urgent-number img {
        width: 40px;
        height: 40px;
    }

    .urgent-number h2 {
        font-size: 47px;
    }

    .urgent-number p {
        font-size: 14px;
    }

    .Deadline h3 {
        font-size: 16px;
    }

    .Deadline p {
        font-size: 14px;
    }

    .Urgent-line {
        height: 68px;
    }

    .viewOfTasks {
        width: 396px;
        height: 116px;
    }

    .Task {
        height: 116px;
        width: 116px;
        gap: 13px;
        padding: 25px 0px
    }

    .Task h2 {
        font-size: 47px;
    }

    .Task p {
        font-size: 14px;
        width: 65px;
    }

    .headline {
        left: 16px;
    }

    .Tasks {
        left: 16px;
        width: 396px;
        height: 384px;
    }

    .To-do:hover {
        width: 200px;
        height: 124px;
    }

    .Urgency:hover {
        width: 412px;
        height: 124px;
    }

    .Task:hover {
        width: 130px;
        height: 130px;
    }

    .Submenu {
        right: 106px;
        top: 10px;
    }
}

@media (max-width: 600px) {
    .user {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .greeting h1 {
        font-size: 47px;
    }

    .greeting h2 {
        font-size: 36px;
    }

    .d-flex-column {
        flex-direction: column;
    }

    .help-user {
        padding-top: 8px;
    }
}

@media (max-width: 430px) {
    .Tasks {
        width: 300px;
    }

    .Todo-Done {
        width: 300px;
    }

    .To-do {
        width: 140px;
    }

    .Urgency {
        width: 300px;
        padding: 27px 25px;
    }

    .viewOfTasks {
        width: 300px;
    }

    .urgent-number img {
        width: 30px;
        height: 30px;
    }

    .urgent-number {
        gap: 8px;
    }

    .urgent-number h2 {
        font-size: 40px;
    }

    .Deadline h3 {
        font-size: 14px;
    }

    .Deadline p {
        font-size: 13px;
    }

    .To-do h2 {
        font-size: 40px;
    }

    .Task {
        width: 96px;
        height: 110px;
    }

    .Task h2 {
        font-size: 40px;
    }

    .To-do:hover {
        width: 154px;
        height: 124px;
    }

    .Urgency:hover {
        width: 314px;
        height: 124px;
    }

    .Task:hover {
        width: 110px;
        height: 130px;
    }
}

@media (max-width: 340px) {
    .Summary-body {
        padding-left: 10px;
    }
}